.cache
asssets/*
__pycache__/
__pycache__/*
*/__pycache__/
*/__pycache__/*
.ipynb_checkpoints/*
notes.md
.ipynp_checkpoints/
.DS_Store
.env
.flaskenv
test.py
other_packages/*
notebooks/*
testo.py
.vscode/*
config.json
*.log
*.spec
build/
dist/
cma_config.json
temp
